<!DOCTYPE html>
{% extends "template.html" %}
{% load staticfiles %}
{% block body_block %}
      <!-- PAGE TITLE LARGE IMG -->
      <div class="page-title-cont page-title-large page-title-img grey-dark-bg pt-250"
        style="background-image: url({% static "images/about_us.jpg" %})">
        <div class="relative container align-left">
          <div class="row">

            <div class="col-md-8">
              <h1 class="page-title">ABOUT US</h1>
              <div class="page-sub-title">
                Here you can get to know little bit about me and my team, most of the time, it would be me, Birnadin.
              </div>
            </div>

            <div class="col-md-4">
              <div class="breadcrumbs">
                <a href="{% url "Crazy_Minion:home" %}">Home</a><span class="slash-divider">/</span><span class="bread-current">ABOUT
                  US</span>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- FEATURES 1 -->
      <div id="about" class="page-section">
        <!-- About_us Section -->
        <div class="container fes1-cont">
          <div class="row">

            <div class="col-md-4 fes1-img-cont wow fadeInUp mb-20 img-poster">
              <img src="{% static "images/poster.jpg" %}" alt="img">
            </div>

            <div class="col-md-8">

              <div class="row">
                <div class="col-md-12">
                  <div class="fes1-main-title-cont wow fadeInDown">
                    <div class="title-fs-60">
                      WE ARE<br>
                      <span class="bold">CRAZY MINIONS</span>
                    </div>
                    <div class="line-3-100"></div>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-md-6 col-sm-6">
                  <div class="fes1-box wow fadeIn">
                    <div class="fes1-box-icon">
                      <div class="icon icon-basic-laptop"></div>
                    </div>
                    <h3>SOFTWARE PSYCOPATHS</h3>
                    <p>We create stunning softwares in a whole different way.</p>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="fes1-box wow fadeIn" data-wow-delay="200ms">
                    <div class="fes1-box-icon">
                      <div class="icon icon-basic-lightbulb"></div>
                    </div>
                    <h3>BRILLIANT IDEAS</h3>
                    <p>We showcase some brilliant ideas in a whole different way for complex problems.</p>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-6 col-sm-6">
                  <div class="fes1-box wow fadeIn" data-wow-delay="400ms">
                    <div class="fes1-box-icon">
                      <div class="icon icon-basic-helm"></div>
                    </div>
                    <h3>CLASSIQUE VFX EDITS</h3>
                    <p>We in a <em>pecuiliar</em> way do the vfx for photo and video. Worth a boat tour.</p>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="fes1-box wow fadeIn" data-wow-delay="600ms">
                    <div class="fes1-box-icon">
                      <div class="icon icon-basic-eye"></div>
                    </div>
                    <h3>EXCLUSIVE INFORMATIONS</h3>
                    <p>Chect out our blog overflowing with exclusive stuffs on Entertainment and Technolgy and More!</p>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>


      <!-- FEATURES 7 -->
      <div class="page-section grey-light-bg clearfix">
        <div class="fes7-img-cont col-md-5">
          <div class="fes7-img" style="background-image: url({% static "images/fes7.jpg" %})"></div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-6 fes7-text-cont p-80-cont">
              <h1><span class="font-light">FROM NOTHING COMES A MINION</span>
              </h1>
              <p class="mb-60">
                Hola! My name is Birnadin Erick. You can call me B, for short. I am only 17+. I am a "Patrician" who so
                badly wanna show the world what my potentials are. That's why I have
                created this group where people can join me in my aim.
              </p>

              <div class="row">

                <div class="col-md-6 col-sm-6">
                  <div class="fes7-box wow fadeIn">
                    <div class="fes7-box-icon">
                      <div class="fa fa-beer"></div>
                    </div>
                    <h3>Friendly</h3>
                    <p>I am so friendly with everyone[Atleast a bit :)]. You can literally say anything about me via
                      mail or in any means of communications</p>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="fes7-box wow fadeIn" data-wow-delay="200ms">
                    <div class="fes7-box-icon">
                      <div class="fa fa-smile-o"></div>
                    </div>
                    <h3>Always Happy to help</h3>
                    <p>If you stuck in the middle of something(related to software development), please don't hesitate
                      to ask my help. I will always there for you.</p>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-6 col-sm-6">
                  <div class="fes7-box wow fadeIn" data-wow-delay="400ms">
                    <div class="fes7-box-icon">
                      <div class="fa fa-chain-broken"></div>
                    </div>
                    <h3>Not a clique one</h3>
                    <p>You wanna do the same I do here, don't think just mail me and get into the club. I won't resist
                      any knid of you.</p>
                  </div>
                </div>

                <div class="col-md-6 col-sm-6">
                  <div class="fes7-box wow fadeIn" data-wow-delay="600ms">
                    <div class="fes7-box-icon">
                      <div class="icon icon-arrows-deny"></div>
                    </div>
                    <h3>Not a Professional</h3>
                    <p>I am just a kid of early post-teenage. Therefore I am not a tech-geek or gadget-guru or any
                      seasoned player in this field. So, don't mind any mistakes I make, just post me a comment or mail
                      me. I always welcome negative thoughts about me!</p>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <!--end of row-->
        </div>
      </div>





      <!-- VIDEO ADS 1 -->
      <div class="page-section video-ads-bg">
        <div class="container">
          <div class="video-ads-text-cont clearfix">
            <span class="video-ads-text">BE INFINITIVE</span>
            <span class="video-ads-a">
              <a class="popup-youtube" href="https://www.youtube.com/watch?v=0gv7OC9L2s8">
                <span class="icon icon-music-play-button"></span>
              </a>
            </span>
            <span class="video-ads-text">WITH ME :3</span>
          </div>
        </div>
      </div>
{% endblock %}